#video_player.vjs-user-inactive {
	cursor: none;
}

/*!
Video.js Default Styles (http://videojs.com)
Version 4.5.1
Create your own skin at http://designer.videojs.com
*/

/* SKIN
================================================================================
The main class name for all skin-specific styles. To make your own skin,
replace all occurances of 'vjs-popcorn-skin' with a new name. Then add your new
skin name to your video tag instead of the default skin.
e.g. <video class="video-js my-skin-name">
*/

.vjs-popcorn-skin {
    color: #1c1c1c;
}
/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/

@font-face {
    font-family: 'VideoJS';
    src: url('../fonts/vjs.eot');
    src: url('../fonts/vjs.eot?#iefix') format('embedded-opentype'), url('../fonts/vjs.woff') format('woff'), url('../fonts/vjs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Base UI Component Classes
--------------------------------------------------------------------------------
*/

/* Slider - used for Volume bar and Seek bar */

.vjs-popcorn-skin .vjs-slider {
    /* Replace browser focus hightlight with handle highlight */
    position: relative;
    cursor: pointer;
    /* background-color-with-alpha */
    background-color: #bababa;
}
.vjs-popcorn-skin .vjs-slider-handle {
    position: absolute;
    /* Needed for IE6 */
    top: -3px;
    width: 11px;
    height: 11px;
}
.vjs-popcorn-skin .vjs-slider-handle:before {
    content: url('../images/icons/Player/Marker.png');
}
/* Control Bar
--------------------------------------------------------------------------------
The default control bar that is a container for most of the controls.
*/

.vjs-popcorn-skin .vjs-control-bar {
    /* Start hidden */
    display: none;
    position: absolute;
    /* Place control bar at the bottom of the player box/video.
     If you want more margin below the control bar, add more height. */
    bottom: 0;
    /* Use left/right to stretch to 100% width of player div */
    left: 0;
    right: 0;
    /* Height includes any margin you want above or below control items */
    height: 40px;
    width: 100%;
    /* layer alpha */
    background-color: rgba(23, 24, 27, 0.75);
    /* layer fill content */
}
/* Show the control bar only once the video has started playing */

.vjs-popcorn-skin .vjs-title-bar {} .vjs-popcorn-skin.vjs-has-started .vjs-control-bar {
    display: block;
    /* Visibility needed to make sure things hide in older browsers too. */
    visibility: visible;
    /* transition */
    -webkit-transition: visibility 0.1s, opacity 0.1s;
    -moz-transition: visibility 0.1s, opacity 0.1s;
    -o-transition: visibility 0.1s, opacity 0.1s;
    transition: visibility 0.1s, opacity 0.1s;
}
/* Hide the control bar when the video is playing and the user is inactive  */

.vjs-popcorn-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    display: block;
    visibility: hidden;
    opacity: 0;
    /* transition */
    -webkit-transition: visibility 1s, opacity 1s;
    -moz-transition: visibility 1s, opacity 1s;
    -o-transition: visibility 1s, opacity 1s;
    transition: visibility 1s, opacity 1s;
}
.vjs-popcorn-skin.vjs-controls-disabled .vjs-control-bar {
    display: none;
}
.vjs-popcorn-skin.vjs-using-native-controls .vjs-control-bar {
    display: none;
}

/* The control bar shouldn't show after an error */
.vjs-popcorn-skin.vjs-error .vjs-control-bar {
  display: none;
}

/* IE8 is flakey with fonts, and you have to change the actual content to force
fonts to show/hide properly.
  - "\9" IE8 hack didn't work for this
  - Found in XP IE8 from http://modern.ie. Does not show up in "IE8 mode" in IE9
*/

@media \0screen {
    .vjs-popcorn-skin.vjs-user-inactive.vjs-playing .vjs-control-bar:before {
        content: "";
    }
}
/* General styles for individual controls. */

.vjs-popcorn-skin .vjs-control {
    outline: none;
    position: relative;
    float: left;
    text-align: center;
    margin: 0;
}
/* Replacement for focus outline */

.vjs-popcorn-skin .vjs-control:focus:before,
.vjs-popcorn-skin .vjs-control:hover:before {
    text-shadow: 0em 0em 1em #ffffff;
}
.vjs-popcorn-skin .vjs-control:focus {
    /*  outline: 0; */
    /* keyboard-only users cannot see the focus on several of the UI elements when
  this is set to 0 */
}
/* Hide control text visually, but have it available for screenreaders */

.vjs-popcorn-skin .vjs-control-text {
    /* hide-visually */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Play/Pause
--------------------------------------------------------------------------------
*/

.vjs-popcorn-skin .vjs-play-control {
    top: 13px;
    cursor: pointer;
    width: 11px;
    height: 14px;
    margin-left: 16px;
}
.vjs-popcorn-skin .vjs-play-control:before {
    position: relative;
    content: url('../images/icons/Player/Play.png');
}
.vjs-popcorn-skin.vjs-playing .vjs-play-control:before {
    content: url('../images/icons/Player/Pause.png');
}

/* Playback toggle
--------------------------------------------------------------------------------
*/
.vjs-popcorn-skin .vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.vjs-popcorn-skin .vjs-playback-rate.vjs-menu-button .vjs-menu .vjs-menu-content {
  width: 4em;
  left: -2em;
  list-style: none;
}
 
/* Volume/Mute
-------------------------------------------------------------------------------- */

.vjs-popcorn-skin .vjs-mute-control,
.vjs-popcorn-skin .vjs-volume-menu-button {
    top: 12px;
    cursor: pointer;
    float: right;
    height: 14px;
    width: 20px;
    margin-right: 10px;
}



.vjs-popcorn-skin .vjs-mute-control:before,
.vjs-popcorn-skin .vjs-volume-menu-button:before {
    position: relative;
    content: url('../images/icons/Player/Sound3.png');
}
.vjs-popcorn-skin .vjs-mute-control.vjs-vol-2:before,
.vjs-popcorn-skin .vjs-volume-menu-button.vjs-vol-2:before {
    content: url('../images/icons/Player/Sound2.png');
}
.vjs-popcorn-skin .vjs-mute-control.vjs-vol-1:before,
.vjs-popcorn-skin .vjs-volume-menu-button.vjs-vol-1:before {
    content: url('../images/icons/Player/Sound1.png');
}
.vjs-popcorn-skin .vjs-mute-control.vjs-vol-0:before,
.vjs-popcorn-skin .vjs-volume-menu-button.vjs-vol-0:before {
    content: url('../images/icons/Player/Sound0.png');
}
.vjs-popcorn-skin .vjs-volume-control {
    top: 17px;
    width: 54px;
    float: right;
    margin-right: 0px;
}
.vjs-popcorn-skin .vjs-volume-bar {
    height: 5px;
    width: 54px;
    margin-right: 0px;
    border-radius: 3px / 2px;
    /* border radius */
    */
}
.vjs-popcorn-skin .vjs-volume-menu-button .vjs-menu-content {
    height: 2.9em;
}
.vjs-popcorn-skin .vjs-volume-level {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #2d75df;
    -moz-border-radius: 3px / 2px;
    -webkit-border-radius: 3px / 2px;
    border-radius: 3px / 2px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* layer fill content */
}
.vjs-popcorn-skin .vjs-volume-bar .vjs-volume-handle {
    content: url('../images/icons/Player/Marker.png');
}
.vjs-popcorn-skin .vjs-volume-handle:before {
    content: url('../images/icons/Player/Marker.png');
}
.vjs-popcorn-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content {}
/* Progress
--------------------------------------------------------------------------------
*/

.vjs-popcorn-skin .vjs-progress-control {
    position: absolute;
    /* Set above the rest of the controls. */
	top: 17px;
	width: auto;
	height: 6px;
    -webkit-border-radius: 3px / 2px;
    border-radius: 3px / 2px;
    /* border radius */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    left: 180px;
	right: 230px;
}
/* On hover, make the progress bar grow to something that's more clickable.
    This simply changes the overall font for the progress bar, and this
    updates both the em-based widths and heights, as wells as the icon font */

.vjs-popcorn-skin:hover .vjs-progress-control {
    -moz-border-radius: 3px / 2px;
    -webkit-border-radius: 3px / 2px;
    border-radius: 3px / 2px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    /* Even though we're not changing the top/height, we need to include them in
      the transition so they're handled correctly. */
    /* transition none */
}
/* Box containing play and load progresses. Also acts as seek scrubber. */

.vjs-popcorn-skin .vjs-progress-holder {
    /* layer fill content */
    height: 100%;
    -moz-border-radius: 3px / 2px;
    -webkit-border-radius: 3px / 2px;
    border-radius: 3px / 2px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
}
/* Progress Bars */

.vjs-popcorn-skin .vjs-progress-holder .vjs-play-progress,
.vjs-popcorn-skin .vjs-progress-holder .vjs-load-progress {
    position: absolute;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Needed for IE6 */
    left: 0;
    top: 0;
    -moz-border-radius: 3px / 2px;
    -webkit-border-radius: 3px / 2px;
    border-radius: 3px / 2px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border 
    background-color: #2d75df; */
    /* layer fill content */
}
.vjs-popcorn-skin .vjs-play-progress {
	background-color: #2d75df;
	transition: all 0.5s ease;
} 
.vjs-popcorn-skin .vjs-load-progress {
    -webkit-border-radius: 3px / 2px;
    border-radius: 3px / 2px;
    /* border radius */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    background-image: url(data:image/gif;base64,R0lGODlhNgAKALMAALW1tayytKSuvJyqvIyixHyaxGySzFSK1ESC1Dx+3DR63Cx23P4BAgAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCQAMACwAAAAANgAKAAAEkXDJRYAdk1qAZ73Zx4VbJ4mmsQXJpFqsu7bSC8T1LMM0sgGHiW8TlAwtxcURKPwll0WFYFOYSKnWqaUquW6z2K4WwNWAPCXS+ZRGr82jHEyxAwhoC9u9vpfb8Xp4Tk1EEwmDEoeFiYgLikiGYQteZGBfYpKUZZqWJnAEdGxvKGpxoqZmOHkbfasWrYF8gKyzABEAIfkEBQkADAAsAAAAADYACgAABI5wKQFqWXhWcDO1mPRxoQZ6W7cQ2xCu7ctWbjgDNXbnMB0am0DitxEMMcCKkag8LpKAJbLo3AAOIYQVi9FuuAtvBSy+ZrfnkyhVGqlMJJQa/v7wdrKYTa/j93B5AEJMUU5QUk9UhIiHhl9pYyEJaBiTj5WUC5aRmHNubWxycWueoaQAgQAEqXd+eHs+sDgRACH5BAUJAAwALAAAAAA2AAoAAASNEEhwlkWT2oVnvdnHhVsniWaxJcKkWkorvUvsbvaMywCdD5sFYQLcDCVFyxGQFBKDy+YxkNgYJoKq5SrJWrHaBRfg3YK/pxIJ5FG32Wm4Bu7j1W8w+w5f0+cnUE9GEwSBSIZMiFKCYmdmXQkKj2RhY2WNkGiUciIJayNvoHGic6QfOT17On+rfXyod6sRACH5BAUJAAwALAAAAAA2AAoAAASYEIS0qgF41nUztZj0caEGelsHHBsSru3LVm44LzV25zAdFhuF4BccYoAVITFpBCAXymMxtFkQQoPqFZPdbAHdyjdsxWrNJ4BgpFqnQu50nISZtz+8nWyTkCkqfTZ/C4E6g4Urf1FOQQNLUE1PCo5Hg5M/lpROg2NnXJ5goGSdXmh0EoOndnBsrG91rbAbe4C0hLaIN7l8uBEAOw==);
	background-size: 30px 5px;
	/* layer fill content */
	transition: width 2s;
}
.vjs-popcorn-skin .vjs-seek-handle {
    width: 11px;
    height: 11px;
	transition: all 0.5s ease;
}
.vjs-popcorn-skin .vjs-seek-handle:before {
    padding-top: 0.1em
    /* Minor adjustment */
    ;
}
/* Time Display
--------------------------------------------------------------------------------
*/

.vjs-popcorn-skin .vjs-time-controls {
    position: relative;
    color: #fff;
    /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    /* Align vertically by making the line height the same as the control bar */
    top: 13px;
}
.vjs-popcorn-skin .vjs-current-time {
    position: relative;
    float: left;
    margin-left: 24px;
}
.vjs-popcorn-skin .vjs-duration {
    position: relative;
    float: left;
}
.vjs-current-time-display {
	width: 50px;
	text-align: right;
}
.vjs-duration-display {
	width: 50px;
	text-align: left;
}
/* Remaining time is in the HTML, but not included in default design */

.vjs-popcorn-skin .vjs-remaining-time {
    display: none;
    float: left;
}
.vjs-time-divider {
    position: relative;
    color: #fff;
    /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    position: relative;
    float: left;
    top: 13px;
    margin-left: 3px;
    margin-right: 3px
}
/* Fullscreen
--------------------------------------------------------------------------------
*/

.vjs-popcorn-skin .vjs-fullscreen-control {
    position: relative;
    top: 12px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    float: right;
    width: 16px;
    height: 16px;
}
.vjs-popcorn-skin .vjs-fullscreen-control:before {
    content: url('../images/icons/Player/Fullscreen.png');
}
/* Switch to the exit icon when the player is in fullscreen */

.vjs-popcorn-skin.vjs-fullscreen .vjs-fullscreen-control:before {
    content: url('../images/icons/Player/Normalscreen.png');
}
/* Big Play Button (play button at start)
--------------------------------------------------------------------------------
Positioning of the play button in the center or other corners can be done more
easily in the skin designer. http://designer.videojs.com/
*/

.vjs-popcorn-skin .vjs-big-play-button {
    left: 0.5em;
    top: 0.5em;
    font-size: 3em;
    display: block;
    z-index: 2;
    position: absolute;
    width: 4em;
    height: 2.6em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
    /* Need a slightly gray bg so it can be seen on black backgrounds */
    /* background-color-with-alpha */
    background-color: #07141e;
    background-color: rgba(7, 20, 30, 0.7);
    border: 0.1em solid #3b4249;
    /* border-radius */
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    /* box-shadow */
    -webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
    /* transition */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
/* Optionally center */

.vjs-popcorn-skin.vjs-big-play-centered .vjs-big-play-button {
    /* Center it horizontally */
    left: 50%;
    margin-left: -2.1em;
    /* Center it vertically */
    top: 50%;
    margin-top: -1.4000000000000001em;
}
/* Hide if controls are disabled */

.vjs-popcorn-skin.vjs-controls-disabled .vjs-big-play-button {
    display: none;
}
/* Hide when video starts playing */

.vjs-popcorn-skin.vjs-has-started .vjs-big-play-button {
    display: none;
}
/* Hide on mobile devices. Remove when we stop using native controls
    by default on mobile  */

.vjs-popcorn-skin.vjs-using-native-controls .vjs-big-play-button {
    display: none;
}
.vjs-popcorn-skin:hover .vjs-big-play-button,
.vjs-popcorn-skin .vjs-big-play-button:focus {
    outline: 0;
    border-color: #fff;
    /* IE8 needs a non-glow hover state */
    background-color: #505050;
    background-color: rgba(50, 50, 50, 0.75);
    /* box-shadow */
    -webkit-box-shadow: 0 0 3em #ffffff;
    -moz-box-shadow: 0 0 3em #ffffff;
    box-shadow: 0 0 3em #ffffff;
    /* transition */
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.vjs-popcorn-skin .vjs-big-play-button:before {
    content: "\e001";
    font-family: VideoJS;
    /* In order to center the play icon vertically we need to set the line height
     to the same as the button height */
    line-height: 2.6em;
    text-shadow: 0.05em 0.05em 0.1em #000;
    text-align: center
    /* Needed for IE8 */
    ;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.vjs-error .vjs-big-play-button {
  display: none;
}

/* Error Display
--------------------------------------------------------------------------------
*/

.vjs-error-display {
  display: none;
}

.vjs-error .vjs-error-display {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.vjs-error .vjs-error-display:before {
  content: 'X';
  font-family: Arial;
  font-size: 4em;
  color: #666666;
  /* In order to center the play icon vertically we need to set the line height
     to the same as the button height */
  line-height: 1;
  text-shadow: 0.05em 0.05em 0.1em #000;
  text-align: center /* Needed for IE8 */;
  vertical-align: middle;

  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  width: 100%;
}

.vjs-error-display div {
  position: absolute;

  font-size: 1.4em;
  text-align: center;
  bottom: 1em;
  right: 1em;
  left: 1em;
}

.vjs-error-display a, .vjs-error-display a:visited {
  color: #F4A460;
}
 
/* Loading Spinner
--------------------------------------------------------------------------------
*/

.vjs-loading-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4em;
    line-height: 1;
    width: 1em;
    height: 1em;
    margin-left: -0.5em;
    margin-top: -0.5em;
    opacity: 0.75;
    /* animation */
    -webkit-animation: spin 1.5s infinite linear;
    -moz-animation: spin 1.5s infinite linear;
    -o-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear;
}

/* Errors are unrecoverable without user interaction,
   so hide the spinner in the case of an error */
.video-js.vjs-error .vjs-loading-spinner {
  /* using !important flag because currently the loading spinner
     uses hide()/show() instead of classes. The !important can be
     removed when that's updated */
  display: none !important;

  /* ensure animation doesn't continue while hidden */
  .animation(none);
}

.vjs-popcorn-skin .vjs-loading-spinner:before {
    content: "\e01e";
    font-family: VideoJS;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    text-align: center;
    text-shadow: 0em 0em 0.1em #000;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
/* Menu Buttons (Captions/Subtitles/etc.)
--------------------------------------------------------------------------------
*/

.vjs-popcorn-skin .vjs-menu-button {
    outline: 0;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 12px;
    height: 16px;
    width: 17px;
}
.vjs-popcorn-skin .vjs-menu {
    display: none;
    position: absolute;
    bottom: 0;
    right: 1px;
    /* (Width of vjs-menu - width of button) / 2 */
    width: 20px;
    height: 30px;
    margin-bottom: 10px;
    outline: 0;
}

.vjs-popcorn-skin .vjs_smallersub_button.vjs-control {
    background: url(../images/icons/Player/fontdown.png);
    background-repeat: no-repeat;
    outline: 0;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 12px;
    height: 11px;
    width: 12px;
}

.vjs-popcorn-skin .vjs_biggersub_button.vjs-control {
    background: url(../images/icons/Player/fontup.png);
    background-repeat: no-repeat;
    outline: 0;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 12px;
    height: 11px;
    width: 12px;
}
/* Button Pop-up Menu */

.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content {
    display: block;
    padding: 0;
    margin: 0;
    outline: 0;
    position: absolute;
    width: 125px;
    bottom: 26px;
    color: #fff;
    /* Same bottom as vjs-menu border-top */
    max-height: 255px;
    overflow: auto;
    left: -50px;
    /* Width of menu - width of button / 2 */
    /* background-color-with-alpha */
    background-color: #151517;
    opacity: .8;
    //background-color: rgba(7, 20, 30, 0.7);
    /* box-shadow */
    //-webkit-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
    //-moz-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
    //box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
}
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-scrollbar {
  width: 5px;
}
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-scrollbar-track {
  background-color: #30333c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-scrollbar-thumb {
  background-color: #83888c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-scrollbar-thumb:hover {
  background-color: #93989c;
}
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-resizer,
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-scrollbar-corner,
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-scrollbar-button,
.vjs-popcorn-skin .vjs-menu-button .vjs-menu .vjs-menu-content::-webkit-scrollbar-track-piece {
  display: none;
}
.vjs-popcorn-skin .vjs-menu-button:hover .vjs-menu {
    display: block;
     outline: 0;
}
.vjs-popcorn-skin .vjs-menu-button ul li {
    list-style: none;
    margin: 0;
    padding: 0.3em 0 0.3em 0;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
     outline: 0;
}

.vjs-popcorn-skin .vjs-menu-button ul li.vjs-selected {
    color: #2d75df;
     background-color: #151517;
     outline: 0;
}
.vjs-popcorn-skin .vjs-menu-button ul li:focus,
.vjs-popcorn-skin .vjs-menu-button ul li:hover,
.vjs-popcorn-skin .vjs-menu-button ul li.vjs-selected:focus,
.vjs-popcorn-skin .vjs-menu-button ul li.vjs-selected:hover {
color: #2d75df;
}
.vjs-popcorn-skin .vjs-menu-button ul li.vjs-menu-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 2em;
    padding: 0;
    margin: 0 0 0.3em 0;
    font-weight: bold;
    cursor: default;
}
/* Subtitles Button */

.vjs-popcorn-skin .vjs-subtitles-button:before {
    content: url('../images/icons/Player/Subtitles.png');
}
/* Captions Button */

.vjs-popcorn-skin .vjs-captions-button:before {}
/* Replacement for focus outline */

.vjs-popcorn-skin .vjs-captions-button:focus .vjs-control-content:before,
.vjs-popcorn-skin .vjs-captions-button:hover .vjs-control-content:before {
    /* box-shadow */
    -webkit-box-shadow: 0 0 1em #ffffff;
    -moz-box-shadow: 0 0 1em #ffffff;
    box-shadow: 0 0 1em #ffffff;
}
/*
REQUIRED STYLES (be careful overriding)
================================================================================
When loading the player, the video tag is replaced with a DIV,
that will hold the video tag or object tag for other playback methods.
The div contains the video playback element (Flash or HTML5) and controls,
and sets the width and height of the video.

** If you want to add some kind of border/padding (e.g. a frame), or special
positioning, use another containing element. Otherwise you risk messing up
control positioning and full window mode. **
*/

.video-js {
    background-color: #000;
    position: relative;
    padding: 0;
    /* Start with 10px for base font size so other dimensions can be em based and
     easily calculable. */
    font-size: 10px;
    /* Allow poster to be vertially aligned. */
    vertical-align: middle;
    /*  display: table-cell; */
    /*This works in Safari but not Firefox.*/
    /* Provide some basic defaults for fonts */
    font-weight: normal;
    font-style: normal;
    /* Avoiding helvetica: issue #376 */
    font-family: Arial, sans-serif;
    /* Turn off user selection (text highlighting) by default.
     The majority of player components will not be text blocks.
     Text areas will need to turn user selection back on. */
    /* user-select */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Playback technology elements expand to the width/height of the containing div
    <video> or <object> */

.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Fix for Firefox 9 fullscreen (only if it is enabled). Not needed when
   checking fullScreenEnabled. */

.video-js:-moz-full-screen {
    position: absolute;
}
/* Fullscreen Styles */

body.vjs-full-window {
    padding: 0;
    margin: 0;
    height: 100%;
    /* Fix for IE6 full-window. http://www.cssplay.co.uk/layouts/fixed.html */
    overflow-y: auto;
}
.video-js.vjs-fullscreen {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    /* IE6 full-window (underscore hack) */
    _position: absolute;
}
.video-js:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
}
.video-js.vjs-fullscreen.vjs-user-inactive {
    cursor: none;
}
/* Poster Styles */

.vjs-poster {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.vjs-poster img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    padding: 0;
    width: 100%;
}
/* Hide the poster when native controls are used otherwise it covers them */

.video-js.vjs-using-native-controls .vjs-poster {
    display: none;
}
/* Text Track Styles */

/* Overall track holder for both captions and subtitles */

.video-js .vjs-text-track-display {
    text-align: center;
    position: absolute;
    bottom: 4em;
    /* Leave padding on left and right */
    left: 1em;
    right: 1em;
	pointer-events: auto!important;
}
/* Move captions down when controls aren't being shown */

.video-js.vjs-user-inactive.vjs-playing .vjs-text-track-display {
    bottom: 1em;
}
/* Individual tracks */

.video-js .vjs-text-track {
    display: none;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    /* Transparent background */
    background-color: transparent;
	text-shadow: 0px 0px 10px #000, -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
}
.video-js .vjs-subtitles {
    color: #ffffff
    /* Subtitles are white */
    ;
}
.video-js .vjs-captions {
    color: #ffcc66
    /* Captions are yellow */
    ;
}
.vjs-tt-cue {
    display: block;
}
/* Hide disabled or unsupported controls */

.vjs-popcorn-skin .vjs-hidden {
    display: none;
}
.vjs-lock-showing {
    display: block !important;
    opacity: 1;
    visibility: visible;
}
/* -----------------------------------------------------------------------------
The original source of this file lives at
https://github.com/videojs/video.js/blob/master/src/css/video-js.less */

/*! videojs-progressTips - v0.1.0 - 2013-09-16
* https://github.com/mickey/videojs-progressTips
* Copyright (c) 2013 Michael Bensoussan; Licensed MIT */

#vjs-tip{visibility:hidden;display:block;opacity:.8;padding:5px;font-size:10px;position:absolute;z-index:100000}#vjs-tip-arrow{background:url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAIRjAOnwIrcDJxvwkplPtchVQAAOw==) no-repeat top left;bottom:0;left:50%;margin-left:-4px;background-position:bottom left;position:absolute;width:9px;height:5px}#vjs-tip-inner{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:5px 8px 4px;background-color:#000;color:#fff;max-width:200px;text-align:center}