.about-container
    z-index 1
    height 100%
    width 100%
    position fixed
    background-color #17181b
    -webkit-user-select none
    opacity 1
    background-image url('../../images/bg-header.jpg')
    background-size cover
    background-position 50% 50%

    .icon-about
        margin-top 65px
        margin-left 40%
        position absolute

    .icon-title
        position absolute
        top 320px
        left 43%

    .overlay-content
        height 100%
        width 100%
        position absolute
        background rgba(0, 0, 0, 0.6)

    .close
        top 85px
        right 20px
        position fixed
        float right
        width 20px
        height 20px
        background-image url('../../images/icons/Close.png')
        background-size 20px
        cursor pointer
        z-index 100
        opacity 0.7
        -webkit-backface-visibility hidden
        transition all .5s

        &:hover
            opacity 1 
            transition all .5s

    .content
        margin 270px 20%
        padding-top 55px
        width 60%
        height 60%
        color #fff
        font-weight 100
        font-family sans-serif
        font-size 17px

        .title-big
            font-size 2.4em
            position absolute

        .title-version
            position absolute
            margin-left 25%
            font-size 17px
            margin-top 30px

        .text-about
            margin-top 6%
            line-height 22px
            margin-bottom 20px
            position absolute
            width 70%
            
            .full-text
                height 90px

        .icons_social
            bottom 45px
            position absolute
            margin-left 14.2%

            a
                width 38px
                height 38px
                display inline-block
                transition opacity .2s ease
                margin-left 15px

                &:hover
                    opacity .7

            a.site_icon
                background url(../../images/icons/icon-popcorn.png) no-repeat center
                background-size contain

            a.twitter_icon
                background url(../../images/icons/icon-twitter.png) no-repeat center
                background-size contain
                
            a.facebook_icon
                background url(../../images/icons/icon-facebook.png) no-repeat center
                background-size contain
                
            a.google_icon
                background url(../../images/icons/icon-google.png) no-repeat center
                background-size contain
                
            a.github_icon
                background url(../../images/icons/icon-github.png) no-repeat center
                background-size contain

            a.blog_icon
                background url(../../images/icons/icon-blog.png) no-repeat center
                background-size contain
                
            a.forum_icon
                background url(../../images/icons/icon-discourse.png) no-repeat center
                background-size contain

        .last-line
            bottom 20px
            color #fff
            font-family sans-serif
            font-size 14px
            position absolute
            margin-left 17%
