.show-list
    height: 100%
    width: calc(100% - 5px)
    fixed: top left
    text-align: center

    scrollable()

    &::-webkit-scrollbar-track
        margin-top: HeaderHeight

    .shows
        padding-top: HeaderHeight
        -webkit-user-select: none;
        text-align: left
        display: inline-block

    .error
        font-size: 1.5em;
        text-align: center;
        margin-top: 180px;
        color: #727272;
        font-weight: bold;

    > .spinner
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5) center center no-repeat;
        z-index: 5;
        

        .loading-container
            margin: 180px auto 0px
            opacity: .8;